* {
    font-family: "Comfortaa", sans-serif;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: navy
}

body {
    background: rgb(203, 235, 236);
}

a {
    text-decoration: none;
    color: inherit;
}


header {
    background: rgb(161, 207, 207);
    height: 85px;
}

header * {
    color: navy;
}

header h1 {
    margin-top: 15px;
    text-decoration: none;
}

header h1 a {
    text-decoration: none;
}

header ul {
    margin: 20px;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    padding: 7px;
}

header ul li a:hover {
    background: rgb(252, 248, 248);
    transition: 0.5s;
    color: #fff;
}

header ul li ul {
    position: absolute;
    top: 20px;
    left: 15px;
    right: 0px;
    width: 150px;
    display: none;
    z-index: 10;


}

header ul li:hover ul {
    display: inherit;
}

header ul li ul li {
    width: 100%;

}

header ul li ul li a {
    padding: 10px;
    background: rgb(161, 207, 207);
    color: navy;
}

.footer {
    background: rgb(80, 166, 172);
    color: navy;
    position: relative;
}

.footer .section {
    padding: 22px;
}

.footer h4,
.footer h3 {
    color: #fff;
}

.footer .about .contact span {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer .about .socials a {
    border: 1px solid rgb(125, 125, 235);
    width: 35px;
    height: 31px;
    padding-top: 2.5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    color: navy;
}

.footer .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;
}

.section .link ul a {
    display: block;
    margin-top: 5px;
    font-size: 1.2em;
    transition: all .3s;
    color: #ffffff;
    text-decoration: none;
}

.link ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .contact-form .contact-input {
    background: #46adcc;
    color: #000000;
    margin-bottom: 5px;
    line-height: 30px;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus {
    background: #dce1e7;
}

.footer .contact-form .contact-btn {
    float: left;
    font-size: 15px;
}

/* SIDEBAR */

.sidebar {
    margin: 1rem 0;
    background: #6790eb;
    min-height: 600px;
}

.sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: navy;
}

.sidebar ul a {
    padding: 18px;
    display: block;
    border-bottom: 1px solid #fff;
}

.sidebar ul a:hover {
    padding-left: 10px;
    transition: all 0.3s;
    color: #d3d3d3;
    text-decoration: none;
}

.products {
    height: 100%;
    padding: 20px 20px 20px 20px;
    overflow-y: scroll;
}

.products h2 {
    text-align: center;
    margin: 1.5rem 0;
}

.products .title-table div {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 700;
}

.products .product div {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.products .product .red {
    color: #006669;
    text-align: right;

}

.products .product .del {
    color: red;
    text-align: right;

}

.products .product .id {
    font-weight: bold;


}